.header-link-class {
    text-decoration: none;
  }
  
  .nav-container {
    background-color: #1e1e30;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
  }
  
  .header-covid-logo {
    font-family: Bree Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #f8fafc;
  }
  .header-india-logo {
    color: #4689f7;
  }
  
  .header-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-width: 30%;
  }
  
  .header-menu-paragraph {
    font-family: Roboto;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: #94a3b8;
    margin: 0px 16px;
  }
  
  .header-menu-paragraph:hover {
    color: #f8fafc;
  }
  .header-list-container {
    display: none;
  }
  @media (max-width: 600px) {
    .header-list-container {
      display: block;
      display: flex;
      flex-direction: row;
      min-width: 100vw;
      min-height: 80px;
      justify-content: space-between;
      align-items: center;
      padding: 0px 10px;
      background-color: #1e1e30;
    }
  
    .nav-container {
      display: none;
    }
  }
  .mobile-menu {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .mobile-unorderlist {
    background-color: #1e1e30;
    padding: 15px;
    margin: 0;
    text-align: center;
  }
  li {
    list-style-type: none;
  }